{% extends "blog/base.html" %}

{% load markuptags %}
{% load blogtags %}
{% load humanize %}

{% block title %}{{ blog.title }}, Archive for {{ archive_month|longmonth }}, {{ archive_year }} {% ifnotequal page_no 1 %} - {{ page_no|ordinal }} page{% endifnotequal %}{% endblock %}

{% block js %}
<script type="text/javascript" src="/media/js/blog_base.js"> </script>
{% endblock %}


{% block summary_area %}
<h1 class="faded-title"><a href="{{ blog_root }}">{{ blog.title }}</a></h1>
{% if blog.tagline.strip %}<div class="blog-tagline">{{ blog.tagline }}</div>{% endif %}
{% if section.intro %}<div class="summary-area">{% markupsection sections "intro" %}</div>{% endif %}
{% endblock %}


{% block column1 %}

<div class="page-header">Archive for <em>{{ archive_month|longmonth }}, {{ archive_year }}</em></div>
{% include "blog/includes/post_list.html" %}

{% if not posts.count %}
<h2>No posts were made during {{ archive_month|longmonth }}, {{ archive_year }}.</h2>
{% endif %}

{% if older_page_url or newer_page_url %}
<div class="summary-navigation">
    {% if older_page_url %}
    <div class="prev-post">
        <a href="{{ older_page_url }}">&larr;&nbsp;Older posts</a>
    </div>
    {% endif %}

    {% if newer_page_url %}
    <div class="next-post">
        <a href="{{ newer_page_url }}">Newer posts&nbsp;&rarr;</a>
    </div>{% endif %}
    <div class="clear">&nbsp;</div>
</div>
{% endif %}

{% endblock %}

{% block column2 %}
{% include "blog/modules/search.html" %}
{% include "blog/includes/archives.html" %}
{% endblock %}