{% extends "blog/base.html" %}
{% load markuptags %}
{% load blogtags %}
{% load comments %}

{% block js_foot %}
<script type="text/javascript" src="/media/js/comments.js"> </script>
{% endblock %}
{% block head %}
<link rel="canonical" href="{{ post.get_absolute_url }}" />
{% endblock %}
{% block title %}{{ post.title }}{% endblock %}


{% block summary_area %}
<h1 class="microblog-title"><a href="{{ blog_root }}">{{ post.title }}</a></h1>

<div class="blog-tagline">{{ post.display_time|date:"F jS, Y" }}</div>

{% endblock %}



{% block column1 %}

{% render_post post %}


{% get_comments for post as comments %}

<a name="comments"> </a>
{% if comments %}
<div class="comments">
    <h3>{{ comments.count }} Response{{ comments.count|pluralize }} to "{{ post.title }}"</h3>
    {% include "blog/includes/comments.html" %}
</div>
{% endif %}

{% if post.allow_comments %}
{% get_comment_form for post as comment_form %}
{% include "blog/includes/comment_form.html" %}
{% endif %}


{% endblock %}


{% block column2 %}

{% include "blog/includes/entryadmin.html" %}


{% markupsection sections "column2" %}


{% endblock %}
