{% extends "simple.html" %}

{% block title %}Page Not Found (404){% endblock %}
{% block headtitle %}Page Not Found (404){% endblock %}

{% block tagline %}Please try to focus on the task at hand{% endblock %}

{% block content %}
<div class="post">

<p>
    I couldn't find the page you were looking for. It could have existed at some point in the past,
    and it may exist in the future, but the only thing that is certain is that it doesn't exist <i>now</i>.
</p>
<p>
    I don't want to cast apsersions here, but could you have mis-typed the address?
    Its easily done, you are typing in the address bar and the mind wanders to other, more entertaining,
    things and you end up typing that <i>thing</i> rather than the address (let's face it,
    its nearly always sex you end up thinking about). If that's the case, I wont hold
    it against you. Just re-type the URL, and we will never speak of this again.
</p>
<p>
    Of course, you may not have typed the address at all. You may just have clicked a link.
    In which case, it was probably whoever linked to this site that was thinking about sex.
    I suggest you contact the individual who originally typed the link and inform them of their error.
    Discretly, of course (they may be a little embarassed).
</p>
<p>
    In the unlikely event that neither yourself, nor anyone linking to this site
    was thinking about sex, then the page in question may have been relocated to
    another URL or even removed from the site entirely. Unfortunately, I am unable
    to give you any assitance as to which of these is the case, because although
    I may appear intelligent, I am in-fact a mere <a href="http://en.wikipedia.org/wiki/George_W_Bush">dumb automaton</a> with no
    capacity for free-thought.
</p>
<p>
    Please don't think I am being modest, or self-depricating, when I tell you these things &mdash;
    I have long since accepted my place in the grand tapestry of life.
    One must learn to play the cards that one has been dealt.
</p>

</div>
{% endblock %}

{% block column2 %}
    <div class="module-header">
        Less Helpful Links
    </div>
    <div class="module">
        <ul class="links-list">
            <li><a href="http://en.wikipedia.org/wiki/Freudian_slip">Freudian Slips</a></li>
        </ul>
    </div>
{% endblock %}