{% extends "simple.html" %}

{% block title %}Internal Server Error (500){% endblock %}
{% block headtitle %}Internal Server Error (500){% endblock %}

{% block tagline %}Please do not be more alarmed than absolutely necessary{% endblock %}

{% block content %}
<div class="post">

<p>
    Something bad has happened.
    I can't tell you what it is, or what exactly makes it <i>bad</i>, but
    I can unequivocally say that it is most certainly <i>bad</i> and has indeed happened.
</p>
<p>
    Given the nature of this event (<i>bad</i>), I can only suggest you take appropriate
    action to respond to any consequences that may occur as a direct result of
    the <i>badness</i> &mdash; whatever that transpires to be.
</p>
<p>
    I wish you the best of luck in your endevours, and hope that the bad thing that
    just happened doesn't spoil your enjoyment of this site.
</p>

</div>
{% endblock %}